.DS_Store

.config/fish/
.config/clash/
.config/configstore/
.config/iterm2/
.config/git/
.config/rclone/
.config/htop/
.config/red/
.config/uv/
.config/zed/

.private.zsh

**/*.log
**/*.backup*
**/__pycache__